services:
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=${INFLUXDB_DB}
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
    network_mode: host      
    volumes:
      - influxdb-data:/var/lib/influxdb
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "4.096GB"
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    depends_on:
      - influxdb
    network_mode: host      
    volumes:
      - grafana-data:/var/lib/grafana
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1.024GB"
  k6:
    image: grafana/k6:latest
    container_name: k6
    volumes:
      - ./:/scripts
    working_dir: /scripts
    stdin_open: true
    tty: true
    depends_on:
      - influxdb
    network_mode: host      
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1.024GB"

volumes:
  influxdb-data:
  grafana-data: